body
{
    padding: 0;
    margin: 0;
    background-color: #d8d5d5;
}
a:not(.contact)
{
    text-decoration: none;
    color:#000;
    margin-right: 40px;
    font-size: 26px;
    font-weight: bold;
}
header 
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 100px;
    align-items: center;
    background-color: white;
}
h1
{
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}
h3
{
    text-align: center;
    font-size: 30px;
}
p
{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
footer
{
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 100px;
    text-align: right;
    padding-bottom: 0px;
    width: 100%;
    background-color: white;
    height: 100px;
}
.contact{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin-right: 20px;
}
#image{
    margin-left: 200px;
    margin-top: 50px;
    width: 30%;
    height: 60%;
}
.info > p{
    margin-right: 150px;
    font-size: 16px;
    display: inline-block;
}
img:not(.logo){
    width: 50%;
    height: 350px;
    border-radius: 30px;
    margin-left: 25%;
}
form 
{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
input 
{
    width: 400px;
    padding: 5px;
    margin: 10px;
    text-align: center;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#principal{
    text-align: center;
    font-size: 22px;
    height: 200px;
}
@media screen and (max-width: 480px){
    body{
        width: auto;
        height: auto;
    }
    .logo{
        width: 150px;
        margin-left: 50px;
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 175%;
        margin-bottom: 80px;
        padding-bottom: 50px;
    }
    .menu{
        margin: 0px 0px 0px 0px;
        }
    img:not(.logo){
        width: auto;
        border-radius: 30px;
        margin-left: 20%;
    }
    h1, h3{
        margin-left: 80%;
        font-size: 20px;
    }
    footer{
        width: 175%;
        height: 300px;
    }
    form{
        margin-top: 100px;
        margin-left: 75%;
    }
    #image{
        width: 80%;
        height: 60%;
        margin-left: 60px;
        margin-right: 100px;
    }
    .info > p{
        margin-left: 100px;
        margin-right: -150px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 15px;
        margin-top: 40px;
    }
}